
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #91AC8F;
  padding: 20px 20px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 28px; 
  font-weight: 900; 
  color: white;
}

.navbar-logo a {
  text-decoration: none;
  color: #4B5945;
  cursor: pointer;
  font-family: 'Cursive', sans-serif; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.navbar-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 20px;
  list-style: none;
}

.navbar-links li {
  display: flex;
  align-items: center;
}

.navbar-links a,
.navbar-links button {
  color: #4B5945;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 12px; 
  transition: color 0.3s ease;
}

.navbar-links a:hover,
.navbar-links button:hover {
  color: #20271d; 
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.navbar-right a {
  color: #4B5945;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.navbar-right a:hover {
  color: #20271d;
}

.navbar-cart {
  position: relative;
}

.navbar-cart a {
  color: #4B5945;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  position: absolute;
  top: -10px; 
  right: -10px; 
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.category-link {
  color: #4B5945;
  text-decoration: none;
  font-size: 16px; 
  font-weight: bolder;
  padding: 8px 12px; 
  transition: color 0.3s ease; 
}

.category-link:hover {
  color: #20271d;
}
.navbar-search {
  display: flex;
  align-items: center;
  margin-left: 20px; 
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.wishlist-count {
  color: red;
  
  
}
.search-input:focus {
  border-color: #20271d;
  box-shadow: 0 0 3px rgba(30, 117, 9, 0.3);
}
