.wishlist-container {
    padding: 20px;
    text-align: center;
  }
  
  .wishlist-container h1 {
    font-size: 3rem;
    margin-bottom: 25spx;
  }
  .wishlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
 
  .wishlist-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .wishlist-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .wishlist-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .wishlist-price {
    font-size: 1rem;
    color:navy;
    margin: 5px 0;
  }
  
  .wishlist-category {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0;
  }
  
  .wishlist-description {
    font-size: x-large;
    color: #777;
    margin: 10px 0;
  }
  
  .wishlist-remove-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff4d4f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .wishlist-remove-button:hover {
    background-color: #e04344;
  }


