wishlist-container {
  padding: 20px;
  text-align: center;
}

.wishlist-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.wishlist-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 100%; 
}
.wishlist-image {
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.wishlist-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.wishlist-price {
  font-size: 1rem;
  color: #007b5e;
  margin: 5px 0;
}

.wishlist-category {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.wishlist-description {
  font-size: 0.9rem;
  color: #777;
  margin: 10px 0;
  
 
}

.wishlist-remove-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #ff4d4f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wishlist-remove-button:hover {
  background-color: #e04344;
  text-align: end;
}


